.main-order {
    position: absolute;
    top: 571px;
    width: 100%;
    background-image: url("../Images//rail-1-1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

.flexconn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 20px;
}

.method {
    width: 100%;
    background-color: rgb(64, 104, 199);
    border-radius: 20px;
    padding: 5px;
    height: auto;
}

.method-header {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.address-header {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.address {
    width: 100%;
    background-color: rgb(64, 104, 199);
    border-radius: 20px;
    margin-left: 30px;
    padding: 5px;
}

.method-type-item {
    background-color: rgb(231, 231, 231, 0.9);
    margin-right: 30px;
    margin-left: 30px;
    font-size: larger;
    height: 100px;
    border-radius: 20px;
    padding-top: 35px;
    padding-left: 10px;
    font-weight: bold;
}